.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.idea/
.vscode/
*.swp
*.swo

# Theme build files
themes/*/node_modules/
themes/*/source/assets/css/style*.css
themes/*/source/assets/js/script*.js

_multiconfig.yml